* {
  font-family: 'Slabo 27px', serif;
}
body {
  width: auto;
}
img {
opacity: 0.7;
margin: 80px auto;
}
div.container {
  width: 900px;
  margin: auto;
}
#Form {
font-size: 24px;
}
/*fieldset {
  border-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}*/
h1 {
  font-family: 'Sofia', cursive;
  font-size: 60px;
  text-align: center;
  margin: auto;
}
div.white{
  background-image: url(family.jpg);
  opacity: 0.4;
}
#shops {
margin: 100px auto;
background-image:url(family.jpg);
}

#shops td{
  padding: 10px;
  /*background-color: white;
  opacity: 0.2;*/
}
th {
  font-size: 20px;
  background-color: white;
  /*opacity: 0.2;
  color: black;*/
  /*border-style: solid;
  border-color: #E8DFC8;;
  border-spacing: 2px;*/
}
 td {
  font-size: 18px;
  /*border-style: solid;
  border-color: #E8DFC8;
  border-spacing: 2px;*/
}
img.chinook {
  float: left;
}
div.border {
  /*max-width: 50%;
  max-height: 50%;*/
}
