* {
  font-family: 'Slabo 27px', serif;
  background-color: #B9B3A2;
}
head {
  margin-left: 30px;
  margin-right: 30px;
}
body {
  width: 980px;
  height: 1028px;
  margin-left: 90px;
  margin-right: 90px;
  margin-top: auto;
  margin-bottom: 90px;
}

img {
opacity: 0.7;
margin-left: 250px;
margin-right: 20px;
margin-top: 20px;
margin-bottom: 20px;
}

Form {
margin-left: 160px;
margin-right: 60px;
border-style: solid;
border-color: black;
font-size: 24px;
float: inherit;
}
fieldset {
  border-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
h1 {
  text-align: center;
  font-size: 60px;
  text-decoration: underline;
}
table {
  /*padding-left: 20px;*/
  margin-left: 200px;
  padding-right: 80px;
  margin-right: 80px;
  padding-top: 120px;
  margin-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

th {
  font-size: 20px;
  background-color: white;
  border-style: solid;
  border-color: #E8DFC8;
  padding: 2px;
  border-spacing: 2px;
}
 td {
   font-size: 18px;
  background-color: white;
  border-style: solid;
  border-color: #E8DFC8;
  padding: 2px;
  border-spacing: 2px;
}
.backgroundimage {
  width: ;
  height: ;
  align-content: space-between;
}
.border {
  margin-left: 20px;
  margin-right: 20px;
}
.chinook {
  float: left;
  width:;
  padding: ;
}
.cutter {
  border-left: 10px;
}
