* {
  font-family: 'Slabo 27px', serif;
}
body {
  width: 980px;
}
img {
opacity: 0.7;
margin: 80px 100px 80px 240px;
}

Form {
font-size: 24px;
}
/*fieldset {
  border-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
}*/
h1 {
  font-family: 'Sofia', cursive;
  font-size: 60px;
  text-align: center;
  margin: auto;
}
#shops {
margin: 100px auto;
background-image:url(family.jpg);
}
#shops td{
  padding: 10px
}
th {
  font-size: 20px;
  /*border-style: solid;
  border-color: #E8DFC8;;
  border-spacing: 2px;*/
}
 td {
  font-size: 18px;
  /*border-style: solid;
  border-color: #E8DFC8;
  border-spacing: 2px;*/
}

.chinook {
  float: left;
}
.cutter {

}
